[submodule "lib/hidapi"]
	path = lib/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "lib/icu4c"]
	path = lib/icu4c
	url = https://github.com/pypt/icu4c.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/davehorner/boost.git
